dominion.log
dominion.properties
dominion.script
dominion_production.log
dominion_production.properties
dominion_production.script
hs_err_pid437.log
hs_err_pid4442.log
hs_err_pid473.log
hs_err_pid842.log
target/classes/com/vladium/emma/ctl/ctl_usage.res
target/classes/com/vladium/emma/exceptions.properties
target/classes/com/vladium/emma/instr/instr_usage.res
target/classes/com/vladium/emma/merge/merge_usage.res
target/classes/com/vladium/emma/report/report_usage.res
target/classes/com/vladium/emma/rt/RTExitHook.closure
target/classes/com/vladium/emma/run/run_usage.res
target/classes/com/vladium/util/exceptions.properties
target/classes/emma_ant.properties
target/classes/emma_default.properties
.settings/org.eclipse.core.resources.prefs
hs_err_pid16211.log
hs_err_pid1876.log
.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/libraries/Maven__com_google_code_gson_gson_2_2_4.xml
.idea/libraries/Maven__commons_codec_commons_codec_1_6.xml
.idea/libraries/Maven__commons_collections_commons_collections_3_2_1.xml
.idea/libraries/Maven__commons_logging_commons_logging_1_1_3.xml
.idea/libraries/Maven__javax_servlet_javax_servlet_api_3_1_0.xml
.idea/libraries/Maven__junit_junit_4_8_2.xml
.idea/libraries/Maven__org_apache_httpcomponents_httpclient_4_3_2.xml
.idea/libraries/Maven__org_apache_httpcomponents_httpcore_4_3_1.xml
.idea/libraries/Maven__org_dbunit_dbunit_2_4_3.xml
.idea/libraries/Maven__org_eclipse_jetty_jetty_client_9_1_1_v20140108.xml
.idea/libraries/Maven__org_eclipse_jetty_jetty_http_9_1_1_v20140108.xml
.idea/libraries/Maven__org_eclipse_jetty_jetty_io_9_1_1_v20140108.xml
.idea/libraries/Maven__org_eclipse_jetty_jetty_rewrite_9_1_1_v20140108.xml
.idea/libraries/Maven__org_eclipse_jetty_jetty_security_9_1_1_v20140108.xml
.idea/libraries/Maven__org_eclipse_jetty_jetty_server_9_1_1_v20140108.xml
.idea/libraries/Maven__org_eclipse_jetty_jetty_servlet_9_1_1_v20140108.xml
.idea/libraries/Maven__org_eclipse_jetty_jetty_util_9_1_1_v20140108.xml
.idea/libraries/Maven__org_hsqldb_hsqldb_2_3_1.xml
.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_6.xml
nb-configuration.xml
hs_err_pid32863.log
